<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Comments</h1>
    <ul>
      <% for(let comment of comments) { %>
        <li><b><%= comment.username %></b> - "<%= comment.comment %>"</li>
      <% }; %>
    </ul>
	<script src="index.js"></script>
  </body>
</html>