<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Comment</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>New Comment:</h1>
    <form action='/comments/new' method="POST">
      <div>
        <label>Enter username:</label>
        <input type="text" name="username" placeholder="Tom Jones">
      </div>
      <div>
        <label>Comment</label>
        <textarea name="comment" cols="50" rows="10" placeholder="What's new, pussycat?"></textarea>
      </div>
      <button>Submit</button>
    </form>
	<script src="index.js"></script>
  </body>
</html>